* {
    /*Color 1: #91a7ff*/
    /*Grey Color:#343a40*/
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #91a7ff;
}


body {
    background-color: #343a40;
    color: white;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}

section {
    background-color: #343a40;
    text-align: center;
    position: relative;
}

/* .navigation {
    background-color: #02111B;
} */

.container {
    margin: 0 auto;
    width: 1200px;
}

.portfolio-gallery {
    background-color: #343a40;
    margin-top: 18px;
}

.game-image-links {
    margin-top: 18px;
}

h1 {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 32px;
}

a:link, a:visited {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #929292;
}

nav {
    list-style: none;
    list-style-type: none;
    text-align: center;
    padding: 32px 0 32px 0;
    margin-left: 0;
    font-weight: 400;
    margin-bottom: 20px;
}

nav li {
    margin-top: 10px;
    display: inline-block;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
}